[2015-07-14 08:50] morenoh149 opened #1 "flickering"
I'm getting lots of flickering throughout my app after adding fastclick on iOS. Could you elaborate on where to use event.preventDefault() you mention in the readme

[2015-07-14 09:39] manosim commented on #1
Hey @morenoh149! I managed to remove the flickering at [react-cordova](https://github.com/ekonstantinidis/react-cordova/blob/react-fastclick/www/src/js/pages/home.js#L10-L13). So basically you can do something like that:

[code]

@JakeSidSmith can you confirm this?

[2015-07-14 09:52] JakeSidSmith commented on #1
~~Yup, @ekonstantinidis is correct. Just call preventDefault on the event of the callback. :)~~

[2015-07-14 10:11] JakeSidSmith commented on #1
Just found a nicer solution - you can set the css property `-webkit-tap-highlight-color` to transparent.
Either target `html, body` (to prevent the flickering on all elements) or target the specific element you don't want to flicker e.g. `button`.

[code]

**Updated readme.**

[2015-07-14 10:17] manosim commented on #1
Yeap can confirm this works great! Tested on iOS! :+1:

[2015-07-14 11:06] JakeSidSmith opened #3 "Reuse listener code"
Create function for adding listeners as things like...

[code]

...are used quite a bit.

[2015-07-14 11:08] JakeSidSmith opened #4 "Create synthetic fastclick event"
* Store last mouse / touch position
* Create synthetic event

[code]

[2015-07-14 13:16] #3 closed

[2015-07-14 21:47] #1 closed

[2015-07-15 10:43] JakeSidSmith opened #7 "Remove event listeners is being called incorrectly"
Creating the original listeners actually returns an object with a remove key, and so should be called in the following manner.

[code]

[2015-07-15 11:03] #7 closed

[2015-07-15 11:56] JakeSidSmith commented on #4
Further thought into this - I'd like to use the type `click` so that people who have already setup a project using onClick will not have to change anything.

To differentiate the 2 events I'll add another key `fastclick`.

[code]

[2015-08-19 23:17] tedlin182 opened #12 "Mobile Safari - clicking label associated with radio button not firing onChange event"
We have a handler that is triggered when the `onChange` event is fired on a radio button and a label that is associated with the radio.

Clicking on the label selects the radio fine on desktop and mobile, but unfortunately on mobile, the handler doesn't fire at all. When I remove FastClick, it works as expected.

Any thoughts on how to resolve this?

[2015-08-20 08:37] JakeSidSmith commented on #12
I have some idea as to what it might be. Could you post a snippet from the radio buttons?

[2015-08-23 01:49] tedlin182 commented on #12
[code]

I ended up just triggering the handler onClick of the wrapping parent element and it worked.

[2015-08-23 23:10] JakeSidSmith commented on #12
Glad to hear. I'll have a look into this anyway to see if there's anything I can do about it. :)

[2015-09-22 10:53] glenjamin opened #13 "If the page re-renders quickly, can click on the wrong thing"
If the element under the tap changes between `touchstart` and `touchend`, the new element is clicked.

Ideally this lib should detect the target and check that it's the same element at the end of the tap.

[2015-09-22 11:36] JakeSidSmith commented on #13
Ahh, that's something I hadn't considered. At the moment it just adds a touchend listener to the window. This shouldn't be a problem to implement.

[2015-10-01 08:25] JakeSidSmith commented on #13
Hey, @glenjamin, I've done a little experimenting. Can I ask how you're removing the elements? As it should currently remove the listeners if the element is removed from the DOM. Though it does still trigger a click if the element becomes hidden e.g. with `display: none;`.

Could you tell me if you're hiding the elements in either of the following ways. Or if you're using a library e.g. react-rout

[2015-10-01 08:33] JakeSidSmith commented on #12
Hey, @tedlin182, had a little play with checkboxes and radios. It seems that `for="my-input"` does not work correctly in React anyway. Instead wrapping the element with a label should produce the desired result. I've tested this on desktop and Android & it works fine with react-fastclick. :)

Does not appear to work

[code]

Works with react-fastclick (tested with Chrome & Android)

[code]

[2015-10-01 08:37] glenjamin commented on #13
Something like this:

tapping on A fires the event on B.

[code]

[2015-10-01 08:55] JakeSidSmith commented on #13
Ahhh, I see what you mean. A gets triggered on touch start & B gets triggered on touch end... very weird.

I'll keep looking into this.

[2015-10-01 09:03] JakeSidSmith commented on #13
Ok, @glenjamin, this seems to be how it would function on mobile even without react-fastclick. I would suggest using the same element for both buttons (if they are similar enough) and just changing the button's content, and swapping the `onClick` listener like so:

[code]

[2015-10-01 09:13] glenjamin commented on #13
The actual scenario is hitting a "[clear]" button and having the footer links jump to under my thumb.

This doesn't happen without fastclick, as the browser (I guess) won't fire onClick if the target changes.

[2015-10-01 11:33] JakeSidSmith commented on #13
What device / OS are you testing on? I'll see if I can get my hands on one today. :)

[2015-10-01 11:37] glenjamin commented on #13
Happens on iOS 9 safari

A more accurate example than my last one would be if the `key` or tag name were different so there's a new component instance - I now realise that example doesn't actually do that, so would be equivalent to a single button.

[2015-10-01 13:03] JakeSidSmith commented on #12
After further testing it seems that you can use `for="my-input"` but the React implementation is `htmlFor="my-input"`.

The following works, but without an `onClick` attribute it still has the 300 millisecond delay.

[code]

[2015-10-07 19:31] JakeSidSmith commented on #13
So, been looking at this for hours now... Here's some findings (mostly just notes to myself).

React seems to automatically add these events:

[code]

And something prevents any of my events being called when the target element changes. Kind of hard to explain. But I'm not sure it has anything to do with these events.

Anyway, I tried removing react-fastclick from my test project, and it still has

[2015-11-04 13:33] ingk opened #14 "Support for React 0.14"
Are there any efforts to support React 0.14?

It seems the only problem is that react-fastclick uses `EventListener` from the react package which is not available any longer. I get the following error:

[code]

[2015-11-05 09:19] JakeSidSmith commented on #14
I hadn't got round to testing with 0.14 yet, but I'll give it a go when I have some time.

[2015-11-08 12:10] catalinux commented on #14
At least two changes:
`var EventListener = require('react/lib/EventListener');` goes into   `var EventListener = require('fbjs/lib/EventListener');`

and
`React.initializeTouchEvents(true);` should be deleted

[2015-11-12 18:49] powdahound commented on #14
:+1:

[2015-11-12 21:00] #12 closed

[2015-11-12 21:01] JakeSidSmith commented on #14
Thanks for that @catalinux . I've been super busy recently, so have not had time to do much investigation. Would like to sort out #13 before I release a version for 0.14, but I'm looking into it right now. :)

[2015-11-12 22:57] JakeSidSmith commented on #14
So, I decided to give that a go today. Despite event listener not looking like it's changed, fastclick does not work with react 0.14 out of the box (after having made your changes).

In fact it does not appear to add any touch listeners from fastclick at all. :/

Will have to take some time to look into this, though I had already had an idea for an alternative way to add touch listeners. Would lik

[2015-11-13 10:25] JakeSidSmith commented on #14
Don't think I'll be using this anymore: [fbjs/EventListener](https://github.com/facebook/fbjs/blob/1d491222f3143f7b460a3971656756fe7512296d/src/stubs/EventListener.js)

Instead I'll look into extending their existing [react/TapEventPlugin](https://github.com/facebook/react/blob/617f03518a7bc8fbb2d6c1b55f12fca3263fc33a/src/renderers/dom/client/eventPlugins/TapEventPlugin.js)

And inject it with [in

[2015-11-13 15:52] JakeSidSmith commented on #14
Note to self: https://github.com/callemall/material-ui/blob/master/examples/browserify-gulp-example/src/app/app.jsx

[2015-11-17 10:02] sspross commented on #14
+1

[2015-12-03 23:32] javiayala commented on #14
Hi @JakeSidSmith, how is the progress to support 0.14 going? Any updates?

[2015-12-04 06:44] sspross commented on #14
@javiayala I'm using https://github.com/zilverline/react-tap-event-plugin in the meantime, maybe it works for you too.

[2015-12-04 07:17] catalinux commented on #14
I see that a new package came around: https://www.npmjs.com/package/react-tap-or-click

[2015-12-04 07:31] sspross commented on #14
thanks for pointing out!

[2015-12-04 12:12] JakeSidSmith commented on #14
Sorry, guys. I've been crazy busy recently.

If anyone wants to give this a go and open a PR that'd be awesome. Otherwise I'll try to get to this as soon as I can.

[2015-12-05 14:14] JakeSidSmith commented on #14
I have a solution. Going to publish in a second. Would be great if some of you could test it for me. :)

[2015-12-05 15:08] JakeSidSmith commented on #14
Open PR: https://github.com/JakeSidSmith/react-fastclick/pull/16

Add `"react-fastclick": "git://github.com/jakesidsmith/react-fastclick.git#react-0.14-support"` to your dependencies for testing.

If anyone could confirm this works on older versions of react that'd be great too. :)

Once I've got some confirmations that this works I'll publish it.

[2015-12-10 16:15] lo1tuma commented on #14
I don’t use a react version < 0.14, but I can confirm that it works correctly with react 0.14.3.
Apart from that, is it necessary to provide backwards-compatibility to old react versions? Instead you could recommend in the README.md to use an older version of `react-fastclick` if someone wants it to be compatible with an old react version.

[2015-12-16 11:14] JakeSidSmith commented on #14
@lo1tuma unfortunately I don't think my PR works correctly. Had some weird side effects. I'll have to take another look before I merge anything.

[2016-01-05 19:31] moodysalem commented on #14
Hey there. My implementation of the FastClick functionality in a React component doesn't use any internal React stuff. Just wraps a div around your components and watches touch events. Might be the way to go.

https://github.com/moodysalem/react-fastclick

[2016-01-05 23:28] JakeSidSmith commented on #14
I see what you're going for. One of my idea is similar, but still uses React touch event plugin... unfortunately the touch event plugin doesn't appear to work quite like a regular click, which is why I'm kind of stumped at the moment.

I'll push one of my ideas to a new branch tomorrow (if I have time) and would be good to get some people testing it (preferably on large scale projects). Will keep

[2016-01-06 02:53] moodysalem commented on #14
If that doesn't work out, I added karma testing and CI to react-fastclick-alt

[2016-01-06 23:30] JakeSidSmith commented on #14
@moodysalem your concept has inspired me. I have an idea for a way to automatically wrap all components with `onClick` handlers, with another component (like yours), except it wouldn't need to render the additional span.

~~I'm not going to have time to sort today, and to be honest I'm not sure when I will, but I'll try to make time whenever I can.~~

[2016-01-07 01:56] JakeSidSmith commented on #14
Okay, I couldn't sleep for thinking about this issue, but I think I'm on to something really amazing.

Concept is working awesomely. It already should fix #13.

And should be backwards compatible to at least 0.13 / 0.12 (I can't remember which).

Also, no longer triggers fastclicks for elements that have been: removed, hidden, or just moved out of the way.

[2016-01-07 13:43] JakeSidSmith commented on #14
Work in progress: https://github.com/JakeSidSmith/react-fastclick/pull/17

This seems to work incredibly well, ~~except with react-router (specifically the Link component) although this may be to do with redux-router, I  haven't had a chance to test without redux yet.~~

If anyone's got some time to test this, that'd be awesome. Working on a fix for react-router / redux-router at the mo.

[2016-01-09 00:23] JakeSidSmith commented on #14
#17

Have refactored again and fixed issues with react-router, redux-router and another issue with how react internally handles links.

Seems to work perfectly. Tested on 2 of my company's largest projects & my comprehensive testing project, and cannot see any immediate issues. Would be awesome to get some of you to try this version out & confirm that it's working nicely.

Update your package.json

[2016-01-09 06:53] gunn commented on #14
Where do the conflicts between react and fastclick come from?
The naive approach:

[code]

Is working fine in my moderate project.

[2016-01-09 12:08] JakeSidSmith commented on #14
There are no conflicts with React & fastclick, but there is some weird behaviour when using the standard fastclick library e.g. clicking on elements that you did not press, if the element moves under your touch, or still triggering clicks on elements that are removed from the DOM or hidden during your touches.

My latest implementation of react-fastclick should fix all of these issues.

[2016-01-20 19:20] JakeSidSmith opened #18 "Tests"
Setup mocha & write tests (full coverage)

[2016-01-20 19:45] #4 closed

[2016-01-20 19:45] #13 closed

[2016-01-20 19:45] #14 closed

[2016-03-11 21:55] benjamingeorge opened #19 "needsclick"
button elements do not work on ios with this library.  I added "needsclick" class to the button but it still doesn't work.

[2016-03-21 01:37] JakeSidSmith commented on #19
React fastclick does not require you to add the `needsclick` class.

Can you give me some more info about your use case? Is this with submitting a form?

If you are using `onSubmit` on a form, you can add an `onClick` event to the button to handle this, and it will speed up your events, but just as a temporary solution. If this is the case, I'll take a look at automatically adding events to button

[2016-03-22 12:10] munkyjunky commented on #19
I've got the same issue - button elements become unresponsive to clicks after adding react-fastclick.

[code]

Adding an `onClick` handler to the button element doesn't work, however changing this to an `onTouchStart` does fire the callback.

[2016-03-22 12:12] JakeSidSmith commented on #19
@munkyjunky What version of React / ReactDOM are you using? And is this only a problem when it comes to forms? Do buttons work normally?

[2016-03-22 12:19] munkyjunky commented on #19
Using React & React-DOM 0.14.6, and this is just a standard button on a page, no forms at all. My test device is an iPhone 5S running iOS 9.0.

[2016-03-22 12:31] munkyjunky commented on #19
Using the below ES6 class I get the same result, which nothing else on the page. Using react 0.14.6, react-dom 0.14.6, and react-fastclick 2.0.0

[code]

**Updated:** Just noticed that if I click around the edge of the button the click works, however if I click on the text inside the button it doesn't work

[2016-03-22 12:38] JakeSidSmith commented on #19
That's incredibly weird. I'll take a look as soon as I get a chance. :)

[2016-03-22 13:39] munkyjunky commented on #19
This also looks to be happening in MS Edge on mobile.

So far I've found that in the [noTouchHappened](https://github.com/JakeSidSmith/react-fastclick/blob/master/index.js#L92) function the clicks around the edge of the button report `touchEvents.touched = false` (which makes the click handler work), while the clicks on the text report `touchEvents.touched = true` (which makes it not work).

This

[2016-03-22 14:56] munkyjunky commented on #19
Looks like this is being caused by the `onTouchStart` event firing before the click handler when clicking on the button text - this is setting `touchEvents.touched` to be true, which then prevents the onClick handler from firing in `noTouchHappened`.

[2016-03-25 09:03] hrjason commented on #19
having the same problem as well.

[2016-03-25 19:03] JakeSidSmith commented on #19
@jasonjchang @munkyjunky @benjamingeorge Can any of you take a look at this fix please?

https://github.com/JakeSidSmith/react-fastclick/pull/20

Once it's reviewed I'll release a new version. :)

[2016-03-25 23:46] JakeSidSmith commented on #19
P.s. Would be good if you could check out the branch & test it on your projects also. :)

[2016-03-26 18:49] #19 closed

[2016-03-29 10:18] munkyjunky commented on #19
After an update to 2.0.1 buttons are now working as expected on iOS. We're still seeing the same behavior when clicking on label elements surrounding radio buttons, but we're just refactoring out those to use buttons instead. Might be worth looking into if you have the time however!

[2016-03-29 10:23] JakeSidSmith commented on #19
@munkyjunky Could you open a new issue and give some details of the problem please? :)

[2016-03-29 10:24] munkyjunky opened #21 "Disabled attribute is ignored on touch devices"
When clicking on a button with the `disabled` attribute fastclick ignores this and triggers the click anyway, when using a touch screen (so any mobile device). This looks to be happening because the touchstart event will always fire on a disabled element whereas a click element will not.

I think the fix for this should be something akin to checking the touched element for the disabled attribute i

[2016-03-29 10:30] JakeSidSmith commented on #21
Oh, wow. Can't believe that's something I totally overlooked. Should be a fairly easy fix, so I'll try to sort it out today if I have time.

[2016-03-29 10:46] munkyjunky opened #22 "Change events not fired for radios or checkboxes when clicking their labels (on touch devices)"
Clicking on a label doesn't propagate through to input fields on mobile devices. We tested this with a label next to a hidden radio button. This did work with a click event on desktop chrome, but not on mobile devices using `onTouchStart`

In particular, this didn't work on iOS 9.0.2.

[code]

[2016-03-29 10:46] munkyjunky commented on #19
Raised at #22

[2016-03-29 10:50] JakeSidSmith commented on #22
Note to self: https://github.com/JakeSidSmith/react-fastclick/blob/master/index.js#L61

[2016-03-29 14:09] JakeSidSmith commented on #22
Is the problem that the onChange handler is not triggered?

[2016-03-29 20:09] JakeSidSmith commented on #22
Solved in #23, but not sure if this is the best way to handle it. I don't think I'll be able to keep the library as backwards compatible as I'd like to.

[2016-03-29 21:22] JakeSidSmith commented on #21
#24 Should fix this. If you could test it out on your app / site that'd be awesome, @munkyjunky

[2016-03-30 08:13] brins0 commented on #21
It's fixed it for me, thanks a bunch dude!

[2016-03-30 08:21] munkyjunky commented on #21
Yup, working now! Thanks @JakeSidSmith

[2016-03-30 08:37] #21 closed

[2016-03-30 08:39] munkyjunky commented on #22
It was the onChange handler on the input field that wasn't firing.

Looking at #23 I don't think using the test utils is a great way to go with a fix, however since this is a bit of an edge case, and we've since refactored that section of the code out to use buttons (thanks to #20) is it worth making this change now, especially if you're losing some backwards compatibility?

Additionally, we can't

[2016-03-30 09:04] JakeSidSmith commented on #22
I'll have to have a think about this one. Unfortunately, due to React's event system, using `dispatchEvent` does not trigger React's internal events and the handler is therefore not triggered.

I'll take a look at how Simulate works and see if I can make a small backward compatible one. :)

[2016-03-30 09:22] JakeSidSmith commented on #22
Note to self: https://github.com/facebook/react/blob/3a4e1dbb5b2957875cab6af11a5e5934e125a0d8/src/test/ReactTestUtils.js#L518

[2016-03-30 21:33] JakeSidSmith commented on #22
@munkyjunky What version of React are you using?

[2016-03-30 23:17] JakeSidSmith commented on #22
After picking through React's source code, and playing with several, usually inaccessible modules, realising that I couldn't use these anyway because 1 or 2 don't exist in React versions before 0.14, I gave up and decided to see if I could fix this in react-fastclick itself somehow...

...it was shortly after this, I discovered a bug with react-fastclick:

[code]

Should actually be

[code]

This

[2016-03-31 09:56] munkyjunky commented on #22
I'm using react 0.14.6. If you manage to get it sorted I'm happy to help with testing where possible!

[2016-03-31 20:16] JakeSidSmith commented on #22
#25 seems to have fixed it for everything I've tested so far (though there may be edge cases). If you could try it with your projects, that'd be awesome. :)

[2016-04-05 09:37] JakeSidSmith commented on #22
@munkyjunky had a chance to test out that branch?

[2016-04-05 11:16] munkyjunky commented on #22
Not yet - I'll try give it a go today or tomorrow

(/cc @brins0)

[2016-04-26 22:00] JakeSidSmith commented on #22
@munkyjunky update? :)

[2016-04-27 11:29] munkyjunky commented on #22
Sorry! I didn't realise this had been 3 weeks since I said I'd give this a test! Just gone over it now, everything is working as expected in my project. As I mentioned previously we'd refactored out the bit of code that did this originally, so I can't check it against the original issue - but I can say nothing appears to be broken.

[2016-04-27 14:05] JakeSidSmith commented on #22
Cool. I think I'll take this opportunity to add some tests (which I've been meaning to do for a while) and then hopefully will catch anything manual testing has missed. :)

[2016-04-27 15:23] dahjelle commented on #22
Ran into this same issue today when I switched from `fastclick` to `react-fastclick`. So far #25 seems to be working okay for us; will report back with any problems I discover.

[2016-04-27 17:01] dahjelle commented on #22
Ran into an issue with #25 on desktop Chrome and `<a>` tags with `onClick` events. `touchEvents.lastTouchDate` doesn't get initialized if there aren't any touch events, so `noTouchHappened` always returns true in `onMouseEvent` because of comparing against `NaN` in `noTouchHappened`.

It looks like changing the initialization to:

[code]

fixes it for me; I can imagine wanting `lastTouchDate: new

[2016-04-28 20:41] JakeSidSmith commented on #22
Ahh, I see what you mean @dahjelle. Have fixed this in #26

Will be continuing on that branch / PR from now on. :)

[2016-04-30 13:40] JakeSidSmith commented on #22
Anyone care to review this PR? :D https://github.com/JakeSidSmith/react-fastclick/pull/26

[2016-05-03 19:08] JakeSidSmith commented on #22
@dahjelle @munkyjunky ?

[2016-05-04 02:24] joeruello commented on #22
Bump, same across this today. Would love a fix!

[2016-05-04 19:33] dahjelle commented on #22
@JakeSidSmith I can't say I can do a real review here—I don't understand the technique enough for that—but I _did_ test out #26 in all the situations I was having problems with, and it seems to work great! Thank you! Looking forward to release.

[2016-05-04 20:28] munkyjunky commented on #22
I'll try and get this tested in my project tomorrow, but having a quick look through the code I do like the addition of tests & code coverage!

[2016-05-04 20:32] JakeSidSmith commented on #22
Added some comments to the PR to explain my changes. :)

[2016-05-05 12:23] #18 closed

[2016-05-05 12:23] #22 closed

[2016-05-09 14:59] leanne-tite-jg opened #27 "Uninitialises after keyboard focus on mobile device"
I've added react-fastClick to a React form-based app. We hd the same issue as in https://github.com/JakeSidSmith/react-fastclick/issues/22 and removed the plugin until this issue was fixed. Since adding it back we have noticed the following behaviour on iPhone iOS 9.3.1 Safari (but I'm not sure this issue is device-specific):

- We have a radio button group with radio buttons that when clicked upd

[2016-05-09 15:13] leanne-tite-jg commented on #27
Note: Once this behaviour is triggered it is carried over to any other component that is newly mounted henceforth e.g. when you transition to a new route and mount a new component the fastClick is still absent

[2016-05-09 15:42] JakeSidSmith commented on #27
I'm out of the country at the moment, and don't have access to a computer, but if you can give me a little more info I'll have a think about it before I get back (in a couple of days).

Apart from the lack of fastclick, does everything else function correctly? Click and change events firing etc?

Can you see if there are any errors? You'll have to use the Safari debug tools to check with an iPhone

[2016-05-13 10:23] leanne-tite-jg commented on #27
Hi Jake sorry for the delay. Here are the answers:
- Yes everything else works as expected
- I've tried the app on Android phones [Nexus 4 and Nexus 6] in latest Chrome [50.x] and in fact we don't seem to get fast click at all on those devices (going by what i see on the screen when i interact), even before the above bug would be triggered
- On the iOS device [iOS 9.3.1, using Safari] no errors ar

[2016-05-13 21:36] uinz commented on #27
[code]

[code]

[2016-05-16 19:44] JakeSidSmith commented on #27
When you say you don't get fastclicks on Android devices, do you mean that the event.fastclick property is not defined? As there should be no delay on Android devices anyway (as far as I know).

Seems that is could be due to React preventing setting event properties in 0.15.

I'll test this out myself tonight and see if I can fix it. Seems that event.persist() could do the trick.

Thanks for all y

[2016-05-16 20:56] leanne1 commented on #27
Hi Jake, no worries - please note I'm using react 0.14. The package.json posted above is not mine :) When i say no fast clicks on Android I'm basing purely on what i see when I click i.e. there is a delay on the click, its not based on evidence as such

[2016-05-16 21:04] JakeSidSmith commented on #27
Oh, woops. Was on my mobile, hard to see everything on such a small screen. XD

Thanks you all for your help in that case.

I'll have a look at both 0.14 and 0.15. Seems like 0.15 at least should be a reasonably easy fix. :)

P.s. 2 GitHub accounts?

[2016-05-16 21:09] leanne1 commented on #27
Yes 2 Github accounts!

On 16 May 2016 at 22:04, Jake notifications@github.com wrote:

[2016-05-16 21:12] JakeSidSmith commented on #27
@yinzSE Would you mind opening another issue with the information you've posted above. Appears to be related specifically to React `0.15`, and therefore I think the 2 are unrelated (although similar).

[2016-05-16 23:59] JakeSidSmith commented on #27
@leanne-tite-jg / @leanne1 I can't seem to reproduce the problem you're having with React `0.14`.

Could you add some onClick handlers (I'd suggest keeping these in a separate branch as I may need to get some more info following the results) to the input and buttons like the following:

[code]

And let me know what the outcome is when clicking on a few of them?
1. Clicking the buttons before the i

[2016-05-17 11:35] leanne-tite-jg commented on #27
Hi Jake I've done as the above and here are the results:

**1**. Radio input ('button') - note that clicks do not fire as the radio is hidden and the click is on the label. Clicking the label fires an `onChange` event on the radio. When i click the label this is the logging i get:

[code]

**2**. When i click the text input that triggers the bug i get:

[code]

**3**. When i click the buttons agai

[2016-05-17 11:50] JakeSidSmith commented on #27
Hard to say from a quick look, if this could be what's causing the delay... but I would say however, that although React states that you can access DOM nodes using refs, you should not mutate the DOM. I've had problems with similar things before. I'm positive that what you're trying to achieve could be done in a much more React friendly way.

One possible fix could be to `return false` from the `s

[2016-05-17 12:31] leanne-tite-jg commented on #27
To answer the questions:
- `InputPrefix` is a plain OOJS class - there is no render method
- Yes - the class pasted in is imported into the component as `DNAInputPrefix` so they are the same thing
- We have a large number of microsites and need to maximise code re-use and keep our code base DRY. Not all of our products are built with React (in fact the majority are not). Our UI components are buil

[2016-05-17 13:04] JakeSidSmith commented on #27
Ah, that's a tough one. Would like to help if I can though.

I'd recommend returning false from the `shouldComponentUpdate` method of the wrapper that creates the `InputPrefix` instance. If there is other content rendered within this component, I'd recommend creating a separate wrapper for `InputPrefix`. This way it wont affect wether other React components are rendered, and can easily be added wi

[2016-05-18 08:50] leanne-tite-jg commented on #27
I will update the class to include a destroy method and experiment with your suggestions on handling the updates. Ultimately we might opt to make React versions of these later. Thanks for all your help

[2016-05-18 08:52] JakeSidSmith commented on #27
No problem. I'm going to leave the issue open in case it does turn out to be react-fastclick related, but from the info you've provided so far, it does not seem to be.

Let me know, here, if you manage to solve this. Then I can close this issue, and as a side, it'd be nice to know how to fix such a problem. :)

[2016-05-20 08:04] liu-dongyu opened #28 "React 0.15 - warning when modifying synthetic events"
When i click `a` element by onClick event, i got a waning like

warning.js?0260:44 Warning: This synthetic event is reused for performance reasons. If you're seeing this, you're adding a new property in the synthetic event object. The property is never released. See https://fb.me/react-event-pooling for more information.

What is that mean and how to solve it?

[2016-05-20 08:49] JakeSidSmith commented on #28
Yes, sorry about that. This issue was raised in #27, but not directly related. I'll be looking into this at some point in the next couple of days. :)

[2016-05-23 17:16] Elijen opened #29 "Click event propagates to a wrong element"
When user clicks an element that causes re-render (e.g. react-route change) element that appears after the re-render right under the tapped position receives a click event too.

[2016-05-23 17:20] Elijen opened #30 "addEventListener support"
This library does not seem to work with SVG elements. Delay is still present on those.

[2016-05-23 17:52] JakeSidSmith commented on #29
That surprises me, had an issue with this a while ago, but I thought it had been fixed. Can I get some more info from you?

What router are you using?
What elements / components are causing the issue? (the one clicked to change route, and the second element that a click is triggered on)
What version of React are you using?

[2016-05-23 17:54] JakeSidSmith commented on #30
Thanks for bringing this to my attention, I had not tested this with SVGs. Just need a little more info from you.

Are the SVGs inline, embeded, or src on an img tag?
Is the problem with onClick handlers on the svg tag itself or inner shapes?
What shapes have you tried that are having issues?
What version of React are you using?

[2016-05-23 18:03] Elijen commented on #29
Router: `react-router` + `react-router-redux`
Elements: `button` (changes route) -> `textarea` (probably same with `input`)
react: `v15.1.0`
react-dom: `v15.1.0`
react-fastclick: `v2.1.1`

[2016-05-23 18:09] Elijen commented on #30
I am using [react-inlinesvg](https://github.com/matthewwithanm/react-inlinesvg) to include inline SVG from a file. It contains mostly `path` elements.

I am using `addEventListener('click', ...)` to add "onClick" listeners on the inner shapes, which - as I think about it now - could be the problem. I temporarily switched to [ftlabs/fastclick](https://github.com/ftlabs/fastclick) and both this issu

[2016-05-23 18:33] JakeSidSmith commented on #29
Hmmm, this is very odd (as it does seem like a bug I've already fixed). I've just pushed some changes to fix a warning / bug in React 15 to #31.

Would you be able to try your project with that branch and see if it fixes your problem?

[2016-05-23 18:40] JakeSidSmith commented on #30
Ah, so react-fastclick is only designed to add the fastclick events to React components that have the `onClick` prop or other elements with special functionality. Buy using `addEventListener`, you're going outside of the React stuff somewhat (though I understand this is necessary some times).

Have you tried using both ftlabs and react-fastclick together? I cannot say I've tried this, but it could

[2016-05-25 09:06] #28 closed

[2016-05-27 13:10] JakeSidSmith commented on #29
@Elijen Did you get a chance to try with the branch mentioned above?

[2016-05-29 12:00] dahjelle commented on #30
As I mentioned in https://github.com/react-bootstrap/react-overlays/issues/64, I'm having a problem where the `DropdownButton` component in `react-bootstrap` opens and closes immediately when I'm using `react-fastclick`. The issue appears to be this one: `react-bootstrap` uses `addEventListener` to the document to make clicks **outside** the drop-down menu close the menu. Thus, the first click on

[2016-05-29 12:11] dahjelle commented on #30
I installed `ftlabs/fastclick` library in addition to `react-fastclick`. I'm not yet sure what the behavior is…it is different, and does seem to open the drop-down, but I'm not sure that behavior is still quite right.

I've not looked much…is the ftlabs library the equivalent of `react-fastclick` for native browser events?

[2016-05-31 02:50] dahjelle commented on #30
Quoting myself from the `react-overlays` issue:

A brief test this evening seems to indicate that

[code]

inside the `onTouchEnd` function seems to solve my issue, but I've not tested this very thoroughly.

Anyone have any immediate thoughts?

[2016-05-31 09:31] JakeSidSmith commented on #30
`preventDefault` would unfortunately prevent some useful events from happening, that help with things like focusing inputs & checking checkboxes.

The fix, I believe, is to add fastclicks to `addEventListener`s so that both types of events work nicely together.

[2016-05-31 15:51] dahjelle commented on #30
Yes, I see the issues you mentioned with checkboxes and inputs.

I've tried the simple addition of ftlabs/fastclick to my app, but it seems to have broken anchor tags on iOS. It did fix the immediate issue, though…some more spelunking is in order.

Thanks for your input!!!

[2016-06-03 08:29] eaardal commented on #29
Hi. We're seeing the same issue in our solution but only on older devices, specifically Android 4.2.2 and older. We're using an HTC One X to re-produce the issue. Hope this can be of help in tracking this down.

[2016-06-13 07:21] rahulinaction commented on #29
I am using react 0.14 and this issue still persists.This occurs on IOS 9.3 . I am implementing this in a cordova application.

[2016-06-13 07:32] rahulinaction opened #32 "Select inputs closes on fast tap since issue"
Thanks for such an excellent library. I am implementing the same in cordova based app.The problem I face is that whenever I open the selectbox it seems to close on fast tap.This seems to have reported in the fastclick but it somehow works now with the fastclick version [Issue 268](https://github.com/ftlabs/fastclick/issues/268)

[2016-06-24 06:40] qimingfang commented on #29
@rahulinaction i ran into the same problem as you. Looked into it a bit today, and submitted a PR for a fix that solves my problem. Take a look and see if it solves your problem too?

https://github.com/JakeSidSmith/react-fastclick/pull/33

[2016-06-24 11:19] JakeSidSmith commented on #29
Is everyone experiencing this issue using react-router?

Could I get some more info from some of you. :)
1. On what element did you click?
2. Is this a react component? (is it your component, or a third party)
3. What element is the event also triggered on?
4. Is this a react component? (is it your component, or a third party)
5. How did the event get triggered on another element? (was the first r

[2016-06-24 16:38] qimingfang commented on #29
I'm not using react router. I'm using a pretty simple custom redux based router.
1. button
2. just ordinary `<button>`
3. another button, at the same spot on the next screen
4. just ordinary `<button>`
5. the second screen transitioned in from the right hand side in ~200ms

[2016-06-24 18:10] JakeSidSmith commented on #29
I can't reproduce this. :/ Does the second button have an `onClick` or is it a submit button?

Alternatively, has anyone got time to setup a little example repo that I can work on?

[2016-06-30 22:34] hcapp01 opened #34 "unexpected page reload when using with react router"
react router 2.3
ios 9.1
longpress on link like this will reload page

`<Link style={{ paddingBottom: 8 }} className={className} key={key} to={'/' + classDef.path + '/' + key} >`

[2016-07-07 16:41] cvbuelow commented on #29
I am also experiencing this issue, and using react-router. I fixed by using a `<button onClick={}>` instead of `<a onClick={}>`

[2016-07-12 07:18] rahulinaction commented on #29
Can we ensure that we can exclude fast click for certain elements for example removing fast click support for select elements . Is there a way where in I exclude fast click for specific elements

[2016-07-15 05:54] zxx-abc commented on #28
Still facing this problem when using react-router's '<Link />' tag...
react v15.0.0
react-router v2.0.0
react-fastclick v2.0.0

[2016-07-25 00:17] Elijen commented on #29
@JakeSidSmith Sorry for late reply. I actually stopped using `react-fastclick` because I found out the original FastClick library works just fine with React and offers much more robust solution. It's surprisingly hard to implement this right (many cross-element, cross-browser and cross-platform differences).

We were experiencing a similar problem in AngularJS. The root of the issue was the fact t

[2016-07-25 05:20] rahulinaction commented on #29
@JakeSidSmith  You will be able to replicate this issue mostly in mobiles. If you create a form with input fields and selectboxes randomly adding 2 input fields followed by 2 select input you might be able to replicate it. I for the timebeing disabled fastclick for the input fields and the select.

[2016-08-31 20:58] romulof opened #35 "[Feature Request] Auto disable on updated browsers"
Chrome 32+ already disables click delay if `<meta name="viewport" content="width=device-width">` has `width <= device-width`.

Other browsers have support for CSS `touch-action`, so this simple CSS would be enough:
[code]
(please apply auto-prefixer later)

More info here: http://www.telerik.com/blogs/what-exactly-is.....-the-300ms-click-delay

[2016-09-07 01:21] jasonjchang opened #36 "React fast click double firing on onChange"
Hey guys,

So I've noticed that `react-fastclick` double fires despite using an `event.stopPropagation()` and `event.preventDefault()` on the delegated `onChange` method.  This issue seems to only be contained to iOS devices running Safari.

According to the `console.log(event.type, event.fastclick)`, I have been outputting `react-change` and `undefined` from the onChange's event.

Currently runni

[2016-09-07 01:23] hrjason commented on #36
I referred to this fix, as this is a very similar scenario:
https://github.com/JakeSidSmith/react-fastclick/issues/22

However if this were the case, the latest fix should of resolved it - which it's not.

Any help would be greatly appreciated

[2016-10-22 18:29] JakeSidSmith opened #38 "Disable fastclick on desktop devices / those without touch events"
As an extension of #35

[2016-11-18 21:35] mohsen1 opened #39 "Preact compatibility"
How hard is it to make this plugin work with Preact?

@developit can you recommend a solution? I volunteer to make it work.

[2016-11-18 21:55] developit commented on #39
Hmm, actually this would almost already work out of the box with Preact. It's overriding createElement, which just has to get renamed to h(). Maybe the lib could export the patch method and users call it themselves?

[2016-11-19 03:50] mohsen1 commented on #39
Because Preact is not using synthetic events, overriding the native event object properties is throwing

[code]

[2016-11-19 05:02] mohsen1 commented on #39
We were able to fix this issue by just using the original fastclick. Since it's patching the native event listeners and Preact is using the native event system it works.

[2016-11-19 17:18] developit commented on #39
Nice, that seems reasonable.

[2016-11-19 17:28] developit commented on #39
There's also this naive implementation I threw together a while back, though react-fastclick is much better.
https://jsfiddle.net/developit/bx9vwxLt/

[2016-12-15 22:41] jondlm opened #40 "React as peer dep"
I think React should be in the peer deps instead of regular deps.

[2016-12-16 11:14] JakeSidSmith commented on #40
I had considered this, but have had so many issues with peerDeps in the past I decided not to. I guess if I set it to `"react": "*"` then people shouldn't have problems resolving dependencies.

[2016-12-16 15:30] jondlm commented on #40
Yeah peer deps are a pain but they do correctly represent the relationship react libraries share with with react.

The trouble with keeping it as a regular dep is that it could trigger some builds to install multiple copies of React, which is always a huge pain to diagnose, rather than getting a warning from npm/yarn about having invalid peer deps.

[2016-12-16 16:14] JakeSidSmith commented on #40
How about I pin a specific version of React as a devDep (for testing), and set peerDep to `*`?

[2016-12-16 21:27] jondlm commented on #40
Yeah, that's what I've seen work with other libraries 👍

[2017-01-29 10:39] dutzi opened #41 "Allow conditional initilization"
Hi,

In our project we only need to use react-fastclick in some cases. Unfortunately, due to how it's initialized, this is is not possible.

When importing using `import 'react-fastclick'` the library gets initialized immediately, and since ES6 import statement cannot live inside an *if* clause we cannot use it conditionally.

What would be great is if we'd have a way to (1) import it; (2) initial

[2017-01-29 17:22] JakeSidSmith commented on #39
I don't have any experience with Preact, so I'm not sure how possible this would be. I could spend some time looking into it, though I think I'll run into issues pretty quickly if Preact does not use synthetic events.

Unless you are happy using the original fastclick? In which case, shall I close this issue?

[2017-01-29 17:23] JakeSidSmith commented on #40
Going to release some changes today (including #42). I'll update the deps also. :)

[2017-01-29 17:25] JakeSidSmith commented on #35
In #42 which I'll be releasing soon (with a couple of other small changes), you'll be able to choose whether to initialize react-fastclick or not yourself. Would that solve this issue for you?

[2017-01-29 17:26] JakeSidSmith commented on #36
I'll try to take a look at this today. On what elements is the `onChange` being triggered twice? Selects?

[2017-01-29 17:42] mohsen1 commented on #39
Yes we switched to the original library. Thanks!

[2017-01-29 17:42] #39 closed

[2017-01-29 19:49] #38 closed

[2017-01-29 20:21] JakeSidSmith commented on #41
Fixed in #42

[2017-01-29 20:21] #41 closed

[2017-01-29 20:22] #40 closed

[2017-01-30 22:42] joe-schorn commented on #34
Commenting out this line seems to fix it:
        newProps.onTouchMove = onTouchMove.bind(null, props.onTouchMove);

[2017-01-31 02:49] geta6 opened #45 "Remove "engines" from package.json"
This module won't install with `yarn` that seems to be more strict about checking `engines` flags than the `npm` client.

[code]

[2017-01-31 12:34] JakeSidSmith commented on #45
I had no idea this'd be an issue as:

[Source](https://docs.npmjs.com/files/package.json)

I haven't used yarn yet, myself. Does yarn have an equivalent that might fix the issue for you?
This [issue](https://github.com/yarnpkg/yarn/issues/972) says that you can `--ignore-engines`, would that solve your problem?

[2017-01-31 12:38] JakeSidSmith commented on #34
I've had a couple of similar issues reported, but never been able to reproduce. Would either of you be able to put together a small test project with the issue that I can debug on?

Thanks for taking a look into the code @joe-schorn. I'll be sure to see if onTouchMove is the culprit, and if there's some way I can fix without removing it that callback.

@hcapp01 @joe-schorn

[2017-01-31 14:38] joe-schorn commented on #34
@JakeSidSmith sure no problem. I've should be able to get a test project for you tomorrow.

[2017-01-31 14:42] JakeSidSmith commented on #34
Awesome, thanks for the help. Link me from here when you've got a lil project setup, @joe-schorn . :)

P.s. have you been able to reproduce on an emulator?

[2017-02-01 12:32] caio-ribeiro-pereira commented on #45
@JakeSidSmith if you remove "engine" will solve better instead fix a node version. Because this is a node's module, the "engine" is useful when you are creating a server and some hosts like Heroku/Openshift use it to setup nodejs according to a fixed version in this property.

[2017-02-01 12:34] caio-ribeiro-pereira commented on #45
and please let me know when solve this issue, because I really wanna use this lib in my project https://watchcoins.herokuapp.com thanks!

[2017-02-01 12:36] JakeSidSmith commented on #45
Heroku / Openshift wouldn't use this libs engine version though, it'd use the one from your project's package.

I may, however just remove this. Kind of pissed that yarn is messing this up. The engines are only supposed to be guidelines for what version a library is proven to work in. :/

[2017-02-01 12:38] caio-ribeiro-pereira commented on #45
Well, if you need the `engine` property, change the fixed version to a flexible one, like: `>= 6.0.0`, or `~6.x.x`,

[2017-02-01 12:39] JakeSidSmith commented on #45
I don't want people using 5 or less to have issues though. May just set to `*`. I'll have a think.

[2017-02-02 19:14] faceyspacey commented on #45
+1

waiting on this as well

[2017-02-02 19:52] caio-ribeiro-pereira commented on #45
me too!

[2017-02-03 14:35] #45 closed

[2017-02-09 17:13] joe-schorn commented on #34
@JakeSidSmith Sorry I got slammed at work. When I put a project together and pulled the latest 3.0.1, it seems to be resolved.  I had an older version in the other project I was working on. I pulled the latest and it's working there too.  When I did see the issue I was able to replicate it in the emulator.  Thanks again for the lib and for your help!

[2017-02-13 10:33] JakeSidSmith commented on #34
No problem. I'll double check with people that have opened similar issues before closing this one off. :)

[2017-02-21 10:34] duanlixin opened #48 "select and input in the handleType method did not prevent the default event"
A page, if there are more than one select element, when clicking on one of the select, will cause the other select elements are clicked

https://github.com/JakeSidSmith/react-fastclick/blob/master/src/index.js#L47

Solution：

Input and select Add to prevent default events

Code:

  var handleType = {

    input: function (event) {
      focus(event);
      **event. preventDefault();**
      event.

[2017-02-21 10:41] JakeSidSmith commented on #48
Other inputs & selects on the page are clicked?

Do you mean that their `onClick` callbacks are triggered?

This should not be possible due to the check for the bounding box here: https://github.com/JakeSidSmith/react-fastclick/blob/master/src/index.js#L169

[2017-02-21 10:42] JakeSidSmith commented on #48
Is the issue on a touch device, or when using a mouse / trackpad? @duanlixin

[2017-02-23 08:15] duanlixin commented on #48
yes, on a touch device, Browser simulation is good。

[2017-02-23 10:02] JakeSidSmith commented on #48
And it is their `onClick` handler that is being triggered?
Are you using any libraries that may affect this?

[2017-02-24 02:27] duanlixin commented on #48
yes, their onClick handler triggered.
i'm nont using any other libraries.
do you need a example ?

[2017-02-24 09:42] JakeSidSmith commented on #48
A screenshot and a snippet of JSX would be good. :)

[2017-05-15 01:04] bradennapier commented on #48
+1 - if you dont do this you cant use input elements at all on mobile -- in my case every time i selected an input it would unselect it immediately.

[2017-05-20 22:19] JakeSidSmith commented on #29
Anyone still using react-fastclick and react-router, could you try the alpha version I've just released and let me know if it's fixed your issue. :)

https://github.com/JakeSidSmith/react-fastclick/pull/50

[2017-05-20 22:20] JakeSidSmith commented on #48
Please try the alpha version I've just released and let me know if it's fixed this issue for you. :)

https://github.com/JakeSidSmith/react-fastclick/pull/50

[2017-05-20 22:22] JakeSidSmith commented on #34
Please try the alpha version I've just released and let me know if it resolves your issues. :)

https://github.com/JakeSidSmith/react-fastclick/pull/50

[2017-06-13 16:28] #29 closed

[2017-06-13 16:28] #48 closed

[2017-06-13 16:29] JakeSidSmith commented on #36
About to release `3.0.2` which may fix this issue. If you could try it out and close this issue if it's fixed, that'd be awesome.

[2017-07-13 11:21] fjaskolski commented on #34
Hello there!

I've run into the exact same issue while using:
`react-router-dom 4.1.1` (`react-router 4.1.1`)
`react-fastclick 3.0.2`

The page reloads on clicks performed randomly (long press, sometimes short double tap), both at iOS 10.0.2 and within Chrome devtools device view.

I'm wondering if you have any ideas on how can I debug this further?

Cheers

[2017-08-15 00:25] RTakes opened #51 "KP Showcase Device, text un-readable. Likely needs a new design"
This issue has come up multiple times at different sizes.  I think we need a new device and / or screen image.

![image](https://user-images.githubusercontent.com/1253332/29297391-805bd876-8115-11e7-885b-c36ff1e8104c.png)

[2017-08-15 00:32] #51 closed

[2017-09-06 07:42] DanilaRomaniuk opened #52 "React-bootstrap modal"
To close react-bootstrap modal we need to click twice on "X" (first touch makes focus, second touch closes modal). It possible reproduced on iPad when we are using react-fastclick.

[2017-09-06 08:00] JakeSidSmith commented on #52
Notes to self:

https://github.com/react-bootstrap/react-bootstrap/blob/master/src/ModalHeader.js#L68
https://github.com/react-bootstrap/react-bootstrap/blob/master/src/utils/createChainedFunction.js

[2017-10-06 17:36] Aarbel opened #53 "Css :active not fired onTouchStart"
Hi react-fastclick team !

## Problem

**HTML**
[code]

**CSS**
[code]

- Button:active pseudo-class isn't fired instantly on `onTouchStart` when react-fastclick is installed.
- The button:active is fired with a 300ms delay, when the button is hold.
- If the user taps fast, he doesn't see the style change.

## Expected behavior
Css :active pseudo-class is commonly fired on `onTouchStart`.
We use t

[2017-10-09 08:31] nickhingston opened #54 "Cannot disable fastclick on a particular element"
Need the possibility of disabling fastclick on a specific element.

My particular case was an input type file that is hidden, but the label is used as a button to activate it.

e.g.
[code]

pull request coming...

[2017-10-09 08:37] JakeSidSmith commented on #54
I believe if you call `event.preventDefault()` in `onTouchEnd` it should prevent the fastclick.

What is the issue with having fastclick applied to the label?

[2017-10-09 08:39] nickhingston commented on #54
i still need the click event to fire….so prevent default is not an option...

[2017-10-09 08:42] nickhingston commented on #54
so with my fix and adding the no-fastclick class to the input the following now works as intended:

[code]

[2017-10-11 02:27] robr24 commented on #36
This still seems to be happening, with version 3.0.2.

[2017-10-18 02:01] simonrobb commented on #54
I'm having the same trouble.

Some browsers prevent file inputs from being triggered by client code as a security measure. Try triggering a click event in the console using `document.querySelector('input[type=file]').click()` and it'll work, do the same from your code and it will mysteriously fail.

When the library proxies a touch event to the native label `onclick` functionality, client code is

[2017-10-18 08:43] JakeSidSmith commented on #54
@simonrobb would you mind opening another issue about this, as although it can be solved by disabling fastclick, it'd be good to see if I can find a fix for this anyway.

There shouldn't be any trouble really, as fastclick does not actually trigger any events, it just calls your callback in the touch events and prevents the onClick event. For inputs it simply calls `input.focus()`, which I guess w

[2017-10-18 09:45] nickhingston commented on #54
@simonro <https://github.com/simonrobb>bb a question to ask yourself is why the library is needed at all.  From iOS 8 and >2014 versions of Android, it should not be necessary.  My reason for using is because I have had to use UIWebView (not WKWebView) in a cordova app.  Fortunately I have since found a way around this and removed the need for it.

I also found that this library causes issues with

[2017-10-25 02:18] henrysworld commented on #53
Hello, I also encountered the same problem, please ask this question, you have found a solution?

[2017-10-25 08:39] JakeSidSmith commented on #53
Hey, sorry, somehow I didn't notice this issue. Will have a look whenever I get a chance. :)

[2017-10-29 13:59] JakeSidSmith commented on #34
Reopening to investigate further.

[2017-10-29 15:26] JakeSidSmith commented on #53
@Aarbel could you fork from this branch: https://github.com/JakeSidSmith/react-fastclick/pull/56 and try to reproduce. Send me a link in reply to this issue and let me know what iPhone & version of iOS the issue appears on. I have tried to reproduce on several iPhone simulators, but don't appear to be able to.

[2017-11-03 20:17] Aarbel commented on #53
@JakeSidSmith which iPhone simulator do you use ? Thanks a lot for your corrections, i'll test it next week ;)

[2017-11-04 22:07] JakeSidSmith commented on #53
@Aarbel might also be worth trying out the original https://github.com/ftlabs/fastclick as it appears to work nicely with React now. I may end up deprecating this library in favor of ftlabs' fastclick.

[2018-04-22 15:44] dshuvalov commented on #36
@JakeSidSmith in my react app there are checkboxes. When I enable react-fastclick then checkboxes respond at the onChange method once and a click on them does not react anymore (onChange method does not request). Very strange bug

[2018-05-03 21:05] jfbloom22 opened #59 "Is this plugin needed if targeting newer mobile devices?"
Any reason I need this plugin if I am targeting newer mobile devices and setting the width to the device width?

This disables the 300ms delay since iOS 9.3 and Chrome 32.
`<meta name="viewport" content="width=device-width">`

more info:  https://developers.google.com/web/updates/2013/12/300ms-tap-delay-gone-away

[2018-05-04 09:23] JakeSidSmith commented on #59
As far as I know, if you are only supporting the latest versions of iOS / Chrome you should be okay. No need for this. 🙂

[2018-05-04 14:01] jfbloom22 commented on #59
awesome thx!

[2018-05-04 14:01] #59 closed

[2018-05-06 03:53] John-C2 commented on #36
@JakeSidSmith @Chypa74 I was just noticing the same issue.  Everything worked as expected on the first tap, and then subsequent taps weren't triggering the onChange event in the console at all.

[2018-05-08 08:47] JakeSidSmith commented on #36
Hey, @John-F-C2 , @Chypa74

Could you let me know which version of react-fastclick you are using, the device (and version if applicable), operating system version, browser and browser version you are experiencing these issues on? 🙂

[2018-05-08 10:51] #30 closed

[2018-05-08 11:06] dshuvalov commented on #36
@JakeSidSmith Hi. This bug appears on various devices like iphone, macbook or android (OS versions: iOS 11.3.1, macOS 10.13.4 and android latest). As for browsers I used Google Chrome (66.0.3359.139) and Safari (11.1)

[2018-05-08 18:40] John-C2 commented on #36
@JakeSidSmith my package file has react-fastclick: ^3.0.2 on iOS 11.3.1.  My issues all center around inputs & labels.  I thought it was finally golden only to realize that it wouldn't trigger again after the first tap or in other cases it wouldn't activate the selected/checked state as expected.  Appreciate any insight you might have.

     <input name="test[]" onChange={this.handleChange} id="te

[2018-05-30 01:48] samcfinan commented on #34
Same issue here. `react-router-dom 4.2.2`. Disabling `react-fastclick` resumes normal behavior.

[2018-07-03 01:43] zhengzhiqiang opened #60 "focus disappeared when click"
![Uploading 41716444-067734e2-7589-11e8-860b-9678670e0484.gif…]()

When I use version 3.0.1, it will bleed to another element. After I upgrade to version 3.0.2, it still scroll to wrong position. When I click on an element, it will scroll and the focus has disappeared。

[2018-09-30 11:18] JakeSidSmith opened #61 "DEPRECATE"
Deprecate this library as it's near impossible to keep up with all the changes to various mobile devices, browsers, and React itself.

This problem is solved in modern devices by adding viewport meta: https://developers.google.com/web/updates/2013/12/300ms-tap-delay-gone-away

[2018-10-17 05:33] igolkotek commented on #61
Not solved yet.
Safari and Google Chrome on iPad with iOS v12 still are not working without this library.

[2018-10-17 08:47] JakeSidSmith commented on #61
@aiia, Even with the meta tag? 😢Also, is this specific to iPad, rather than iOS?

[2018-10-17 11:08] igolkotek commented on #61
Even with css touch-action: manipulation; (
I can't test if this is iOS problem- just have one device

[2018-11-27 14:55] shane-xi commented on #54
I'm having the same trouble like you had sad. Could you tell me how to fix it? thx

[2018-11-27 15:36] shane-xi commented on #54
@simonrobb   Could you tell me how to fix it ? if you have solved this quesiton. thx

[2019-02-25 02:35] zongzi531 commented on #54
@shane-xi @simonrobb I had the same trouble too in UIWebView and i solved it. i uninstalled react-fastclick, install fastclick can solved.

[2019-03-18 11:56] shane-xi commented on #54
我后来也是干掉了react-fastclick，直接用的fastclick解决的 @zongzi531

[2019-06-20 07:58] Aravindraj92 opened #62 "Checkbox label is not working, when i use react-fastclick?"
<input
                                type="checkbox"
                                className="no-fastclick checkbox" id="accept"
                                name="agree"
                                checked={this.state.checkBox}
                                onChange={this.handleCheck}/>
                                <label htmlFor="accept">By proceeding you agree to Bohapus's Terms

[2019-06-20 08:28] JakeSidSmith commented on #62
Hello. Which version of react-fastclick are you using?

[2019-06-25 05:57] Aravindraj92 commented on #62
Sorry for the late replay and I have using react-fastclick": "^3.0.2

[2019-06-25 09:20] JakeSidSmith commented on #62
Hey, @Aravindraj92. This seems to be something I never implemented. I'd be happy to accept a pull request to handle this. Inside [this if block](https://github.com/JakeSidSmith/react-fastclick/blob/master/src/index.js#L66) you'd simply need to check if the element type was a checkbox, and then set `forTarget.checked = !forTarget.checked;`.

If you'd like to look into this, it may be worth doing th

[2019-06-25 10:32] Aravindraj92 commented on #62
Working! when modifying index.js in node module, but I couldn't modify there because I have run "npm install" in the server for every push request.

[2019-10-12 03:23] miraclesumail opened #63 "no working"
have u tried yourself?

[2019-11-06 17:25] Aarbel commented on #63
Seems that iOS13 WKWebiew creates bugs with fastclick,
@JakeSidSmith do you still maintain this lib ?

[2019-11-06 17:27] JakeSidSmith commented on #63
I haven't done anything with it for a while, but I suppose I do...

Can you describe what's going wrong?

[2019-11-19 10:46] EddyVinck commented on #63
@JakeSidSmith see this issue by @Aarbel https://github.com/facebook/react/issues/17258

I haven't tried this library, but I stumbled upon this issue as well.

[2019-11-19 11:22] JakeSidSmith commented on #63
Are clicks up to speed with the latest WKWebview without fastclick? If so, you can simply not initialise it for this environment.

I'm not sure when I'll get an opportunity to give this a proper test.

[2019-11-30 10:44] Aarbel commented on #63
solved by `react-tappable` see https://github.com/facebook/react/issues/17258

[2020-04-16 21:00] nch3ng commented on #63
It's not working

[2020-06-11 08:45] Lizitao610 commented on #62
Hi, this problem has not resolve yet ?

[2020-06-11 08:48] JakeSidSmith commented on #62
It is not, though I'm happy to accept pull requests. 🙂